@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;1,100;1,300;1,400;1,500&display=swap');

:root {
    --cor01: #F7E376;
    --cor02: #F5D72D;
    --cor03: #C2AA23;
    --cor04: #756715;
    --cor05: #756C38;
    --fonte1: 'Roboto', sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-image: linear-gradient(to bottom, #F5D72D, #C2AA23, #756715);
    font-family: var(--fonte1);
    max-width: 1366px;
    max-height: 657px;
}

header {
    min-height: 101px;
}

nav {
    display: block;
    padding: 20px 0px 15px 80px;
    font-family: var(--fonte1);
    font-size: 1.1em;
    font-weight: 500;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}

nav a {
    margin: 0px 0px 0px 0px;
    text-decoration: none;
    color: var(--cor05);
    padding: 20px 15px 10px 15px;
    border-radius: 0px 0px 5px 5px;
}

nav a:hover {
    background-color: var(--cor05);
    color: var(--cor01);
    height: 100px;
}

#logo {
    display: block;
    position: relative;
    max-width: 50px;
    max-height: 50px;
    margin: -45px 0px 0px 35px;
}

main {
    display: block;
    max-width: 500px;
    text-align: justify;
    padding: 100px 0px 0px 700px;
}

main > img {
    display: block;
    position: relative;
    margin: -300px 0px 0px -500px;
    padding: 0px 0px 0px 0px;
    max-width: 300px;
    height: 300px;
}

h1 {
    color: var(--cor05);
    padding: 0px 0px 15px 0px;
    text-align: left;
    word-spacing: .5em;
}

p {
    color: var(--cor04);
    text-align: justify;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
    line-height: 2em;
}

footer {
    color: var(--cor01);
    text-align: center;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
    padding: 0px 0px 10px 0px;
    margin: 150px 0px 0px 0px;
}

@media (max-width: 500px) {
    body {
        max-width: 500px;
    }

    nav {
        padding: 15px 0px 0px 8px;
    }

    #logo {
        margin: -34px 0px 0px 230px;
    }

    main {
        padding: 0px;
        margin: -2px 21px 26px 19px;
    }

    main > img {
        margin: -15px 0px 0px 135px;
        width: 200px;
        height: 200px;
    }

    h1 {
        text-align: center;
    }

    footer {
        margin: 0px;
    }
}